body {
    background-color: #1e1e2e; 
    font-family: monospace;
}

.infoBox {
    width: 450px;
    height: fit-content;
    background-color: #211827;
    border-color: #585b70;
    border-style: groove;
    color: #f0ccf0;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: auto;
}

.headerBar {
    color:#f0ccf0; 
    border-color: #585b70; 
    border-style: groove; 
    border-radius: 5px; 
    border-width: 5px; 
    background-color: #211827;
    width: 900;
    height: fit-content;
    padding: 5px;
    margin: auto;
}

.title {
    color: #f9e2af;
    max-width: 950px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.code {
    color: #a6e3a1; 
    border-style: dotted; 
    border-color: #585b70; 
    background-color: #12121bc7;
    border-radius: 2px; 
    width: 700px;
    margin: auto;
}

.pageLink {
    border-style: groove;
    border-width: 2px;
    border-radius: 6px;
    padding: 2px;
    text-decoration: none;
    cursor: pointer;
}

.pageLink{
    color: #8a2be2;
    background-color: #1e1e2e;
    border-color: #585b70;
}

.pageLink:hover{
    color: #ae63f3;
    background-color: #37263b;
    border-color: #86a4c2;
}

.projectInfo {
    padding: 10px;
    color: #f0ccf0;;
}