.infoBox {
    width: 200px;
    height: 100px;
    background-color: #151535;
    border-color: slategray;
    border-style: groove;
    color:white;
    padding: 5px;
    box-sizing: border-box;
}

.headerBar {
    color:azure; 
    border-color: slategray; 
    border-style: groove; 
    border-radius: 5px; 
    border-width: 5px; 
    background-color: #151535;
}

.title{
    color: azure;
    max-width: 950px;
}